{% extends "base.html" %}

{% block css %} 
<style>
div.profilepic{
    margin-left: 40%;
    margin-top: 5%;
	width: 200px;
	height: 200px;
	}
img.pfp{
	width: 190px;
	height: 190px;
}
div.loginlable{
    margin-left: 30%;
    margin-top: 1%;
	

}


</style>

{% endblock%}

{% block main %}
<div >
    <div class="profilepic"> 
        <img class="pfp" src="{{url_for('static',filename='icons/gift.png')}}"> 
    </div>
    <div class="loginlable">
        <h4>Please Enter your Credentials and Log in</h4>
    </div>
    
    
    <form  method="post">
      {{ form.csrf_token }}
      <div class="form-group">
        {{ form.username.label }}
        {{ form.username(class='form-control', placeholder="Enter your username") }}
      </div>
      <div class="form-group">
        {{ form.password.label }}
        {{ form.password(class='form-control',placeholder="Enter Your Password" ) }}
      </div>
      <button type="submit" name="submit" class="btn btn-primary btn-block">Log in</button>
    </form>
  </div>
{% endblock %}